@charset "utf-8";


/* 헤더 영역 */
.header-area{
    height: 100px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;

    background-color: transparent;

    transition: 0.5s;
}
.header-area .header-logo a{
    display: inline-block;
    width: 300px;

    transition: 0.5s;
}
.header-area .header-logo a svg{
    fill: #222;
}

/* 헤더 클래스 추가 */
.header-area.active{
    height: 80px;
    background-color: #fff;
}
.header-area.active .header-logo a{
    width: 220px;
}
/* sec-3에서 색상 변경 */
.header-area.on{
    background-color: transparent;
}
.header-area.on .header-logo a svg{
    fill: #fff;
}

/* 메뉴 영역 */
.menu-btn{
    display: none;
}

.menu{
    display: flex;
    margin-right: -80px;

    transition: 0.5s;
}
.menu .menu-head{
    display: none;
}
.menu .menu-tab{
    margin-right: 80px;
    
    transition: 0.5s;
}
.menu .menu-tab a{
    font-size: 1.6rem;
    font-weight: 800;

    transition: 0.5s;
}

/* 메뉴 클래스 추가 */
.menu.active{
    margin-right: -60px;
}
.menu.active .menu-tab{
    margin-right: 60px;
}
.menu.active .menu-tab a{
    font-size: 1.4rem;
}
/* sec-3에서 색상 변경 */
.menu.on .menu-tab a{
    color: #fff;
}

.menu-btn.active li{
    background-color: #fff;
}

/* banner swiper */
.banner_mask{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    /* overflow: hidden; */
}
.banner_mask .banner_slider{
    width: 300vw;
    height: 100vh;
    float: left;
}
.banner_mask .in-slider.fi{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/banner0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_mask .in-slider.se{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/banner0-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}.banner_mask .in-slider.th{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/banner0-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_mask .swiper-button-next,
.banner_mask .swiper-button-prev{
    display: none;
}

/* sec 공통 영역 */
.title{
    font-size: 6.857rem;
    font-weight: bold;
}
.container{
    width: 100vw;
}

/* sec-1 */
.sec-1 .container{
    display: flex;
}
.sec-1_l{
    width: 50%;
    padding: 75px 0 50px 60px;
    height: 100vh;
}
.sec-1_txt .txt-head{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 110px;
}
.sec-1_txt .txt-small{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 80px;
}
.sec-1_txt .txt-small p{
    margin-bottom: 20px;
}
.sec-1_r{
    width: 50%;
    position: relative;
    top: 0;
    left: 0;
}
.sec-1_r .sec-1_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%; 
    padding-bottom: 70%;
    height: 0;
    background: url(../img/sec-1_1.jpg) no-repeat bottom;
    background-size: cover;
}


/* sec-2 */
.sec-2 .container{
    background: url(../img/sec-2.jpg) no-repeat left;
    background-size: cover;

    display: flex;
}
.sec-2 .title{
    padding: 100px 0 0 60px;
}
.sec-2_l{
    width: 50%;
    height: 100vh;
}

.sec-2_r{
    width: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.sec-2_r .txt-head{
    font-size: 3rem;
    font-weight: 600;
}
.sec-2_r .txt-b{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 80px;
}
.sec-2_r .txt-b p{
    margin-top: 20px;
}


/* sec-3 */
.sec-3 .content-inner{
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* sec-3 sticky */
.sec-3 .sticky-warpper{
    width: 100vw;
}
.sec-3 .content{
    position: sticky;
    top: 0;
    transition: 0.5s;

    cursor: initial;
}

.sticky-inner{
    width: 100vw;
    height: 100vh;

    position: sticky;
    top: 0;
    transition: 0.5s;
}

/* svg애니메이션 */
.sec-3 .content-inner .shape{
    width: 400px;
    height: 100px;
}
.sec-3 .content .title{
    color: #ebebeb;
}

.shape{
    fill: transparent;
    stroke-width: 10px;
    stroke: #ebebeb;
}
.shape.box1{
    stroke-dasharray: 0 990;
    stroke-dashoffset: 94;
}
.shape.box2{
    stroke-dasharray: 0 1010;
    stroke-dashoffset: 611;
}
@keyframes box1-draw{
    0%{
        stroke-dasharray: 0 990;
        stroke-dashoffset: 94;

    }
    100%{
        stroke-dasharray: 599 390;
        stroke-dashoffset: 94;
        
    }
}
@keyframes box2-draw{
    0%{
        stroke-dasharray: 0 1010;
        stroke-dashoffset: 611;

    }
    100%{
        stroke-dasharray: 616 390;
        stroke-dashoffset: 611;

        
    }
}

.shape.box1.active{
    animation: box1-draw 1.5s linear forwards;
}
.shape.box2.active{
    animation: box2-draw 1.5s linear forwards;
}

.shape.box1.on{
    /* stroke-dasharray: 599 390;
    stroke-dashoffset: 94; */
    border: 6px solid #ebebeb;
    border-bottom: none;
}
.shape.box2.on{
    /* stroke-dasharray: 616 390;
    stroke-dashoffset: 611; */
    border: 6px solid #ebebeb;
    border-top: none;
}






/* sec-4 */
.sec-4 .container{
    /* height: 100vh; */
    overflow: hidden;
    padding: 100px 60px;
}
.sec-4 .title{
    margin-bottom: 30px;
}

.sec-4 .more-box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sec-4 .more-txt{
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
}

/* sec-4 스와이퍼 */
.sec-4_mask{
    display: flex;
    height: 580px !important;
    clear: both;
    
    margin-top: 30px;
}
.sec-4_slider .in-slider{
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-4_slider .in-slider:last-child{
    margin-right: 0;
}
.sec-4_slider .content{
    width: 80%;

}
.sec-4_slider .img-box{
    width: 100%;
    height: 380px;

    cursor: pointer;
    overflow: hidden;
}
.sec-4_slider .img-box img{
    transition: 1s;
}
.sec-4_slider .img-box:hover img{
    transform: scale(1.05);
}
.sec-4_slider .txt-box{
    margin-top: 30px;
}
.sec-4_slider .txt-box p{
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
.sec-4_slider .txt-box span{
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;

    display: inline-block;
    margin-top: 10px;
}

.sec-4_mask .swiper-pagination{
    display: none;
}


/* sec-5 */
.sec-5 .container{
    display: flex;
}
.sec-5_l{
    width: 50%;
    padding: 100px 60px;
}
.sec-5_l .txt-top{
    font-size: 3.125rem;
    font-weight: 600;
    margin-top: 70px;
}
.sec-5_l .txt-bottom{
    width: calc(100% - 60px);
    height: 300px;
    display: flex;
    margin-top: 80px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.sec-5_l .bottom-l,
.sec-5_l .bottom-r{
    width: 50%;
    height: 100%;
    padding: 40px 20px 0;
}
.sec-5_l .bottom-l{
    border-right: 1px solid #000;
}
.sec-5 .txt-bottom h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.sec-5 .txt-bottom p{
    font-size: 0.875rem;
    margin-bottom: 20px;
}
.sec-5 .txt-bottom span{
    font-size: 1.125rem;
}




.sec-5_r{
    width: 50%;
}
.sec-5_r .txt-box{
    width: 100%;
    height: 100%;
    padding: 100px 80px 0;
}
.sec-5_r .txt-box .inner-txt{
    margin-bottom: 25px;
}
.sec-5_r .txt-box p{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.sec-5_r .txt-box input[type="text"] {
    color: #222;
    font-size: 0.9rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #b4b4b4;
    width: 95%;
    padding-bottom: 5px;
}
.sec-5_r .txt-box input::placeholder{
    font-size: 0.9rem;
    color: #b4b4b4;
}

/* 라디오버튼 */
.sec-5_r .inner-txt.radio .input-box{
    width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-5_r .inner-txt.radio input{
    display: none;
}
.sec-5_r .inner-txt.radio .radio-box{
    width: 50%;
    height: 100%;
    position: relative;
}
.sec-5_r .inner-txt.radio label .btn-inner{
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;

    opacity: 0;
}
.sec-5_r .inner-txt.radio label[for="ra_1"] .btn-inner{
    opacity: 1;
}
.sec-5_r .inner-txt.radio label a::after{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #b4b4b4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
} 
.sec-5_r .inner-txt.radio label a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.sec-5_r .inner-txt.box p{
    display: inline-block;
}
.sec-5_r .inner-txt.box span{
    font-size: 1rem;
    display: inline-block;
}

/* input 글씨 아래로 떨어지게 */
.input.full{
    width: 95%;
    float: none;
    margin: 0;
}
.msg textarea{
    width: 100%;
    /* height: 335px; */
    border: 1px solid #b4b4b4;
    padding: 10px 10px 100px;
    border-radius: 10px;
    box-shadow: 0;
    outline: none;
    -webkit-appearance: none;
}


/* 개인정보 버튼 */
.sec-5_r .input-bottom input{
    display: none;
}
.sec-5_r .input-bottom{
    width: 100%;
    position: relative;
}
.sec-5_r .input-bottom label .btn-inner{
    width: 18px;
    height: 18px;
    position: relative;
    display: inline-block;
    opacity: 0;
}
.sec-5_r .input-bottom label .btn-inner.active{
    opacity: 1;
}
.sec-5_r .input-bottom label .btn-inner span:first-child{
    position: absolute;
    width: 6px;
    height: 3px;
    background-color: #222;
    top: 70%;
    left: 20%;
    transform: rotate(45deg) translate(-50%,-50%);
}
.sec-5_r .input-bottom label .btn-inner span:last-child{
    position: absolute;
    width: 13px;
    height: 3px;
    background-color: #222;
    top: 70%;
    left: 2%;
    transform: rotate(135deg) translate(-50%,-50%);
}
.sec-5_r .input-bottom label a::after{
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 20%;
    border: 1px solid #b4b4b4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
} 
.sec-5_r .input-bottom label a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    margin-left: 10px;
}
.sec-5 .input-bottom label{
    font-size: 1.1rem;
}

.sec-5_btn{
    border: 1px solid #b4b4b4;
    width: 95%;
    height: 40px;
    outline: none;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.5s
}
.sec-5_btn:hover{
    background-color: #222;
}
.sec-5_btn:hover a{
    color: #fff;
}

.sec-5_btn a{
    font-size: 1.1rem;
    font-weight: 400;
}


/* 푸터 영역 */
.footer .container{
    width: 100vw;
    height: 100%;
    background-color: #222;
    color: #dbdbdb;
    padding: 50px 60px 0;
}
.footer-t{
    width: 100%;
    height: 185px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.footer-t h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 50px;
}
.footer-t .btn-box{
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-right: -30px;
}
.footer-t .btn-box a{
    color: #dbdbdb;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 30px;
}

.footer-b .txt-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.footer-b .txt-t_l .title{
    font-size: 1.5rem;
}
.footer-b .txt-t_r a{
    display: inline-block;
    font-size: 1.25rem;
    color: #dbdbdb;
}
.footer-b .txt-b{
    margin-top: 10px;
}
.footer-b .txt-b_t,
.footer-b .txt-b_b{
    display: flex;
}
.footer-b .txt-b p{
    font-size: 1.125rem;
    margin-right: 30px;
}

/* 푸터 풀페이지 사이즈 변경 */
.footer{
    height: 360px !important;
}




/* 미디어쿼리 */
/* 1600px */
@media (max-width:1599px){
    /* header-area */
    .header-area{
        height: 80px;
    }
    .header-area .header-logo a{
        width: 220px;
    }
    .menu{
        margin-right: -60px;
    }
    .menu .menu-tab{
        margin-right: 60px;
    }
    .menu .menu-tab a{
        font-size: 1.4rem;
    }


    .sec-1_l{
        padding: 110px 0 50px 60px;
    }
    .sec-1_r .sec-1_img{
        padding-bottom: 75%;
    }


    /* sec-4 */
    .sec-4_mask{
        height: 500px !important;
    }
    .sec-4_slider .img-box{
        height: 300px;
    }


    /* sec-5 */
    .sec-5_l .txt-bottom{
        width: 100%;
    }

    .sec-5_r .txt-box{
        padding: 100px 60px 0 30px;
    }
    .sec-5_r .txt-box .inner-txt{
        margin-bottom: 20px;
    }
    
    .sec-5_btn{
        border: 1px solid #b4b4b4;
        width: 95%;
        height: 40px;
        border-radius: 12px;
        margin-top: 30px;
        margin-right: 0;
        float: none;
    }
    .sec-5_btn a{
        font-size: 1rem;
    }
    
}

/* 1350px */
@media(max-width:1349px){
    /* 메뉴 */
    .menu-btn{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        cursor: pointer;

    }
    .menu-btn li{
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #222;
    }
    .menu-btn li:nth-child(2){
        transform: translateX(18px);
    }
    .menu-btn li:nth-child(3){
        transform: translateY(18px);
    }
    .menu-btn li:nth-child(4){
        transform: translate(18px,18px);
    }


    .menu{
        display: block;
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100vh;
        background-color: #fff;
        margin-right: 0;

        padding: 0 50px;
        z-index: 999;
    }
    .menu .menu-head{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin: 0 auto 80px;
        height: 80px;
        border-bottom: 1px solid #222;
    }
    .menu .menu-in-btn{
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .menu .menu-head .menu-in-btn span{
        width: 30px;
        height: 2px;
        background-color: #222;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(45deg);
    }
    .menu .menu-head .menu-in-btn span:last-child{
        transform: translateY(-50%) rotate(135deg);
    }


    .menu .menu-tab{
        margin-bottom: 50px;
    }
    .menu .menu-tab a{
        font-size: 2rem;
    }


    /* sec-1 */
    .sec-1 .container{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 40px;
    }
    .sec-1_l,
    .sec-1_r{
        width: 100%;
        display: block;
        position: static;
    }
    .sec-1_l{
        padding: 100px 60px 0;
    }
    .sec-1_r{
        padding: 60px;
    }
    .sec-1_r .sec-1_img{
        position: static;
        padding-bottom: 45%;
        background-position: 0 -280px;
    }
    .sec-1_txt{
        text-align: center;
    }
    .sec-1_txt .txt-head{
        line-height: 1.5;
        /* margin-top: 80px; */
    }


    /* sec-2 */
    .sec-2 .container{
        /* height: auto; */
        width: auto;
        flex-direction: column;
        position: relative;
    }
    .sec-2_l{
        width: 100%;
    }
    .sec-2_r{
        padding: 0;
        background-color: transparent;
        width: 100%;
        height: auto;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        display: inline-block;
    }
    .sec-2_r .sec-2_txt{
        padding: 0;
        text-align: center;
    }


    .sec-3 .content-inner .shape{
        stroke: none;
    }


    /* sec-5 */
    .sec-5 .container{
        flex-direction: column;
        height: auto;
        padding: 0 60px;
    }
    .sec-5_l,
    .sec-5_r{
        width: 100%;
        padding: 0;
    }
    .sec-5_l-inner{
        padding: 0 60px;
    }
    .sec-5_l .txt-top{
        margin-top: 100px;
    }
    .sec-5_r .txt-box{
        padding: 60px 60px 100px;
    }
    .sec-5_r .txt-box input[type="text"],
    .input.full,
    .sec-5_btn{
        width: 100%;
    }

    /* footer */
    .footer-t h1{
        font-size: 2rem;
        margin-top: 60px;
    }
    .footer-t .btn-box a,
    .footer-b .txt-t_l .title,
    .footer-b .txt-t_r a{
        font-size: 1.2rem;
    }
    .footer-b .txt-b p{
        font-size: 1rem;
    }

}

/* 960px */
@media (max-width:959px){
    .menu{
        padding: 0 30px
    }
    .menu .menu-head{
        margin: 0 auto 60px;
        height: 70px;
    }

    .sec-1_l{
        height: auto;
    }


    .sec-3 .content-inner .shape{
        width: 350px;
    }


    .sec-4_mask{
        height: auto !important;
    }
    .sec-4_slider{
        display: flex;
        flex-wrap: wrap;
        height: auto !important;
    }
    .sec-4_slider .in-slider{
        border: 0.5px solid #222;
        width: 50%;
        height: 500px !important;
    }
    .sec-4_slider .in-slider:nth-child(even){
        border-left: 0;
    }
    .sec-4_slider .in-slider:nth-child(3),
    .sec-4_slider .in-slider:nth-child(4){
        border-top: 0;
        border-bottom: 0;
    }



    .sec-5_l .txt-bottom{
        border-top: 0.5px solid #222;
        border-bottom: 0.5px solid #222;
    }
    .sec-5_l .bottom-l{
        border-right: 0.5px solid #222;
    }


    .footer{
        height: 300px !important;
    }
    .footer-t{
        height: 150px;
    }
    .footer-t h1{
        margin-top: 50px;
    }
    .footer-t .btn-box{
        margin-top: 40px;
        margin-right: -20px;
    }
    .footer-t .btn-box a{
        margin-right: 20px;
    }
}
/* 760px */
@media (max-width:759px){

    .menu{
        width: 100%;
        right: -100%;
    }


    .sec-1_l{
        padding: 100px 30px 0;
    }
    .sec-1_txt .txt-head{
        margin-top: 100px;
    }
    .sec-1_txt .txt-small{
        margin-top: 70px;
    }
    .sec-1_r{
        padding: 60px 30px;
    }

    .sec-2 .title{
        padding: 100px 0 0 30px;
    }


    .sec-4 .container{
        padding: 100px 30px 0;
    }
    .sec-4 .more-txt {
        font-size: 1.4rem;
    }
    .sec-4_slider .in-slider{
        width: 100%;
        height: 550px !important;
    }
    .sec-4_slider .content{
        width: 90%;
    }
    .sec-4_slider .img-box{
        height: 350px;
    }
    .sec-4_slider .txt-box p {
        font-size: 1.5rem;
    }
    .sec-4_slider .txt-box span{
        font-size: 1.3rem;
    }


    .sec-4_slider .in-slider:nth-child(even){
        border-left: 0.5px solid #222;
    }
    .sec-4_slider .in-slider:nth-child(1){
        border-bottom: none;
    }
    .sec-4_slider .in-slider:nth-child(3),
    .sec-4_slider .in-slider:nth-child(4){
        border-bottom: 0.5px solid #222;
    }
    .sec-4_slider .in-slider:nth-child(5),
    .sec-4_slider .in-slider:nth-child(6){
        display: none;
    }




    .sec-5 .container{
        padding: 100px 30px 0;
    }
    .sec-5_l-inner{
        padding: 0;
    }
    .sec-5_r .txt-box{
        padding: 60px 0;
    }
    .sec-5_l .txt-bottom{
        display: flex;
        flex-direction: column;
    }
    .sec-5_l .bottom-l,
    .sec-5_l .bottom-r{
        width: 100%;
        padding: 20px;
    }
    .sec-5_l .bottom-l{
        border-bottom: 0.5px solid #222;
        text-align: right;
    }
    .sec-5_l .bottom-r{
        border-left: 0.5px solid #222;
    }

    .footer {
        height: 280px !important;
    }
    .footer .container {
        padding: 30px;
    }
    .footer-t h1{
        margin-top: 60px;
        font-size: 1.6rem;
    }
    .footer-t .btn-box{
        margin-top: 40px;
    }
    .footer-t .btn-box a,
    .footer-b .txt-t_l .title,
    .footer-b .txt-t_r a{
        font-size: 1rem;
    }
    .footer-b .txt-b{
        margin-top: 10px;
    }
    .footer-b .txt-b p{
        font-size: 0.9rem;
        margin-right: 15px;
    }
}


@media (max-width:500px){
    .banner section,
    .sec-1 .container,
    .sec-2 .container,
    .sec-3 .container,
    .sec-4 .container{
        width: 100%;
    }

    .title{
        font-size: 6rem;
    }


    .sec-1 .container{
        margin-bottom: 0;
    }
    .sec-1_txt .txt-head,
    .sec-2_r .txt-head{
        font-size: 2.2rem;
    }
    .sec-1_l{
        padding: 80px 30px 0;
    }
    .sec-1_txt .txt-head{
        margin-top: 70px;
    }
    .sec-1_txt .txt-small{
        margin-top: 50px;
    }
    .sec-1_txt .txt-small p{
        margin-bottom: 15px;
    }
    .sec-1_r{
        padding: 50px 30px 40px;
    }
    .sec-1_r .sec-1_img{
        padding: 0;
        background-position: center;
        height: 300px;
    }


    .sec-2 .title{
        padding: 80px 30px 0;
    }
    .sec-2_r .txt-b{
        margin-top: 60px;
    }
    .sec-2_r .txt-b p{
        margin-top: 0;
    }
    .sec-2_r .txt-b p:first-child{
        margin-bottom: 15px;
    }


    .sec-4 .container,
    .sec-5 .container{
        padding: 80px 30px 0;
    }
    .sec-4 .title{
        margin-bottom: 50px;
    }


    .sec-5_l-inner{
        margin-top: 60px;
    }
    .sec-5_l .txt-top{
        margin-top: 0;
        font-size: 2.5rem;
    }
    .sec-5_l .txt-bottom{
        margin-top: 35px;
    }
    .sec-5_r .inner-txt.radio label a{
        font-size: 0.9rem;
    }


    .footer-t .btn-box{
        margin-right: -10px;
    }
    .footer-t .btn-box a{
        margin-right: 10px;
    }
    .footer-b .txt-b_b{
        flex-direction: column;
    }
    .footer-b .txt-b p{
        margin-right: 8px;
    }

}
